html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
li {
  text-decoration: none;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: twitterHeavy;
  src: url('./twitterchirp/chirp-extended-heavy-web.woff');
}

@font-face {
  font-family: twitterBold;
  src: url('./twitterchirp/chirp-bold-web.woff');
}

@font-face {
  font-family: twitterRegular;
  src: url('./twitterchirp/chirp-regular-web.woff');
}
